<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sebastiendui.mobitimego"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".core.App"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.StartUpScreenA"
            android:launchMode="singleTask"
            android:screenOrientation="reverseLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.MainScreenB"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".screens.ConfirmationScreen"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".screens.RFIDbadgeKeypadD"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".screens.ScanScreen"
            android:exported="false"
            android:screenOrientation="reverseLandscape">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TAG_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9132b285f39e3f3f89cde5b03946a8ed1453b744" />

        <activity
            android:name=".core.BaseActivity"
            android:screenOrientation="reverseLandscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.RestartService"
            android:enabled="true"
            android:exported="false">

        </service>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>